---
apiVersion: 1
datasources:
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: "http://loki:{{ alerts_box_loki_port_http }}"
    isDefault: false
    editable: false

  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: "http://prometheus:{{ alerts_box_prometheus_port }}"
    isDefault: true
    editable: false
