[Interface]
# {{ inventory_hostname }}
Address = {{ wireguard_address }}
PrivateKey = {{ wireguard_private_key }}
ListenPort = {{ wireguard_port }}
{% for host in ansible_play_hosts %}
{%   if host != inventory_hostname %}

[Peer]
# {{ host }}
PublicKey = {{ hostvars[host].wireguard__fact_public_key }}
AllowedIPs = {{ hostvars[host].wireguard_address.split('/')[0] }}/32
Endpoint = {{ hostvars[host].ansible_host }}:{{wireguard_port}}
{%   endif %}
{% endfor %}
